@model DrugStore.Model.Models.EmailLog

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.unobtrusive.parse(document);
    });
</script>

<div class="modal-body">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            @{
                var emailBody = MvcHtmlString.Create(Model.EmailBody);
            }
            @*@Html.TextAreaFor(m => emailBody, new { @class = "form-control", style = "width: 100%; height: 100%; margin: auto" })*@
            @MvcHtmlString.Create(Model.EmailBody)
        </div>
    </div>
</div>
